<launch>

  <arg name="base"      value="$(optenv TURTLEBOT_BASE kobuki)"/> <!-- create, roomba -->
  <arg name="battery"   value="$(optenv TURTLEBOT_BATTERY /proc/acpi/battery/BAT0)"/>  <!-- /proc/acpi/battery/BAT0 -->
  <arg name="gui" default="true"/>
  <arg name="stacks"    value="$(optenv TURTLEBOT_STACKS hexagons)"/>  <!-- circles, hexagons -->
  <!--arg name="3d_sensor" value="$(optenv TURTLEBOT_3D_SENSOR kinect)"/-->  <!-- kinect, asus_xtion_pro -->
  <arg name="3d_sensor" value="tera-tower"/>


  <include file="$(find teraranger_array_tutorials)/launch/includes/kobuki.launch.xml">
    <arg name="base" value="$(arg base)"/>
    <arg name="stacks" value="$(arg stacks)"/>
    <arg name="3d_sensor" value="$(arg 3d_sensor)"/>
  </include>

  <node pkg="teraranger_array" type="teraranger_one" name="teraranger_array_node">
    <param name="portname" value="/dev/ttyACM0"/>
  </node>

  <node pkg="teraranger_array_converter" type="teraranger_array_converter.py" name="array_to_laserscan_converter">
    <param name="converter_mode" value="laser_scan"/>
  </node>

  <node pkg="teraranger_array_converter" type="teraranger_array_converter.py" name="array_to_pointcloud_converter">
    <param name="converter_mode" value="point_cloud"/>
  </node>

</launch>
